<% layout("./layouts/boilerplate.ejs")%> 
<body>
    <div class="row">
     <div class="col-8 offset-2">
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data"> 
     <div class="mb-3">
        <label for="title">Title: </label>
        <input name = "Listings[title]" placeholder="title" type="text" class="form-control" required> 
        <div class="valid-feedback"> Title looks good! </div>
        <div class="invalid-feedback">Please enter a valid Title! </div>            
     </div>
    <div class="mb-3">
        <label for="description"> Description: </label>
        <textarea name="Listings[description]" placeholder="description" class="form-control"  required > </textarea>
    </div>
    <div class="mb-3" > 
        <label for="image">Image: </label>
        <input name="Listings[image]"  type="file" class="form-control" > 
    </div>
    <div class="mb-3" > 
        <label for="Filters"> Ammenities: </label>
        <input name="Listings[Filters]"  type="text" class="form-control" > 
    </div>
    <div class="mb-3" > 
        <label for="image">State:  </label>
        <input name="Listings[State]"  type="text" class="form-control" > 
    </div>
    <div class="row"> 
        <div class="mb-3 col-4">
            <label for="price"> Price: </label>
            <input name="Listings[price]" placeholder="price"  class="form-control"  required> 
            <div class="invalid-feedback">Please enter a valid price </div>            
        </div>
        <div class="mb-3 col-8">
            <label for="location">Location: </label>
            <input name="Listings[location]" placeholder="location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid Location </div>             
        </div>
    </div>
    
    <div class="mb-3" >
        <label for="country">Country: </label>
        <input name="Listings[country]" placeholder="country" type="text"class="form-control" required > 
        <div class="invalid-feedback">Please enter a valid country </div>
    </div>
    <div class="mb-3"> 
        <button class="btn btn-dark add-btn" style="margin-bottom: 35px;"> add </button>
    </div>
</div>
</div>
</form>
 </body>
